@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*===== CSS Resets =====*/

input,
button,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
body{
    background-color: rgb(252, 252, 252);
}

/*===== Global Variables =====*/
:root {
  --color-1: #d52727;  /* Main Color */

  --color-2: #9ca3af; /* Gray color */
  
  --color-3: #0d9283;   /* hover color */
  --color-4: #2355df74; 

  --color-5: #2c7bfe;   /* Services */

  --color-6: #cbd5e1; /* text Dark */
  --color-7: #f9fbfd; /* text Dark */

  --color-8: #6b7280; /* Semi Black */

  --color-9: #363e48; /* White */
  --color-10: #c0c0c05a; /* White */

  --color-11: #ffffff; /* White */
  --color-12: #000000; /* Black */
}
.font1{
  font-family: var(--font_1);
}
.font2{
  font-family: var(--font_2);
}
.font3{
  font-family: var(--font_3);
}
.vazirBold{
  font-family: var(--font_4);
}

.rtl {
  direction: rtl !important;
}
.ltr{
  direction: ltr !important;
}
.oneLineShow{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}



@media (max-width: 767px) {
  .reverse-order {
    order: 1; /* Pushes the element to the start of the grid */
  }
}


.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #644099;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #644099;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.active::after{
  transform: scaleX(1);

  width: 100% !important;
  height: 2px !important;
  background-color: #644099;

}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}